<a href="https://colab.research.google.com/github/itstherampage/HWs/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Github: https://github.com/itstherampage?tab=repositories

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')
df

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77
...,...,...,...,...,...,...,...,...
2389,W,Triple Jump Women,Athens,2004,S,Hrysopiyi DEVETZI,GRE,15.25
2390,W,Triple Jump Women,Athens,2004,B,Tatyana LEBEDEVA,RUS,15.14
2391,W,Triple Jump Women,Atlanta,1996,G,Inessa KRAVETS,UKR,15.33
2392,W,Triple Jump Women,Atlanta,1996,S,Inna LASOVSKAYA,RUS,14.98
2393,W,Triple Jump Women,Atlanta,1996,B,Sarka KASPARKOVA,CZE,14.98

In [40]:
#2 (a) Find the size of the data frame. How many rows, how many columns? 

df.shape

(2394, 8)

In [41]:
#2 (b) Use the appropriate function to report the data types for all columns.

df.dtypes

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [42]:
#2 (c) Find how many unique cities matches were held at. (Hint: unique( ). 
#how many unique Events held:) 
#len(medals['Event'].unique())

len(df['Location'].unique())

23

In [43]:
#2 (d) Find how many medals the USA team won in total.

len(df.loc[df['Nationality'] == "USA"])

638

In [44]:
#2 (e)
#Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count.
#For instance, the following example counts at how many locations each event was held. )
#medals.groupby(by='Event')['Location'].count()

df.groupby(by='Nationality')['Medal'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64